{% include "header.html.twig" %}
{% block body %}
	{% set pdf = "/rules_" ~ app.request.locale ~ ".pdf" %}
	<main>
		<button id='fermer'>{{ 'fermer'|trans }}</button>
		<embed
		id="securitePDF" class='undisplayed' src="{{ pdf }}" type="application/pdf"/>
		{# <embed id="donneePDF" class='undisplayed' src="/rules2.pdf" type="application/pdf"/> #}
		<h3>{{ 'moi'|trans|capitalize }}
			{{ prenom|capitalize }}
			{{ nom|capitalize }},
			{{ 'declare'|trans }}</h3>

		<section id="regle">
			<p>{{ 'regle'|trans }}</p>
			<p>{{ 'regle2'|trans }}</p>
			<p>{{ 'regle3'|trans }}</p>
			<p>{{ 'regle4'|trans }}</p>
		</section>

		<section id="phrase">
			<span class="spanphrase">{{ 'p1'|trans }}</span>
			<span class="spanphrase">{{ 'p2'|trans }}</span>
			<span class="spanphrase">{{ 'p3'|trans }}</span>
		</section>

		<div id="condition">
			<img src="{{ asset('/images/fleche-droite.gif') }}" alt="">
			<button id="securite">{{ 'securite'|trans }}</button>
			<img id='fleche' src="{{ asset('/images/fleche-droite.gif') }}" alt="">
		</div>

		<div id="accepte">
			<p>{{ 'accepte'|trans }}</p>
			<img src="{{ asset('/images/GreenUnchecked.png') }}" class="unactive" alt="">
			<img src="{{ asset('/images/GreenChecked.png') }}" class='active declarationCheck undisplayed' alt="">
		</div>

		<section id="fleche">
			<a href="{{ path("certif", app.request.get('_route_params')) }}"><img src="{{ asset('/images/arrowL.png') }}" alt=""></a>
			<img id="versOk" src="{{ asset('/images/arrowR.png') }}" alt="">
		</section>
	</main>
{% endblock %}
{% include "footer.html.twig" %}
