{% include "header.html.twig" %}
{% block body %}
	<main>
		<section id="pOk">
			<span>{{ 'pOk1'|trans }}</span>
			<span>{{ 'pOk2'|trans }}</span>
		</section>
		<section id="pOk2">
			<span>{{ 'pOk3'|trans }}</span>
			<span>{{ 'pOk4'|trans|upper }}</span>
		</section>
		<section id="pOk3">
			<span>{{ 'pOk5'|trans }}</span>
			<span>{{ 'pOk6'|trans }}</span>
			<span>{{ 'pOk7'|trans }}</span>
			<span>{{ 'pOk8'|trans|upper }}</span>
		</section>
		<section id="photo">
			<div id='cam'></div>
			<div id="result"></div>
			<p id='pPhoto'>
				<span>
					{{ 'photo'|trans }}
					<span id="textePhoto">0/5</span>
				</span>
			</p>
		</section>
	</main>
{% endblock %}
{% include "footer.html.twig" %}
