{% include "header.html.twig" %}
{% block body %}
	<main>
		<section id="pOk">
			<span>{{ 'pOk1'|trans }}</span>
			<span>{{ 'pOk2'|trans }}</span>
		</section>
		<section id="pOk2">
			<span>{{ 'pOk3'|trans }}</span>
			<span>{{ 'pOk4'|trans|upper }}</span>
		</section>
		<section id="pOk3">
			<img src="{{ asset('/images/Prohibition_Cap.png') }}" alt="Aqua Brava">
			<img src="{{ asset('/images/Prohibition_Eyeglasses.png') }}" alt="Aqua Brava">
			<img src="{{ asset('/images/Prohibition_Face.png') }}" alt="Aqua Brava">
			<img src="{{ asset('/images/Prohibition_Sunglasses.png') }}" alt="Aqua Brava">
		</section>
		<section id="photo">
			<div id='cam'></div>
			<div id="result"></div>
			{# <p id='pPhoto'>
				<span>
					{{ 'photo'|trans }}
					<span id="textePhoto">0/4</span>
				</span>
			</p> #}
		</section>
	</main>
{% endblock %}
{% include "footer.html.twig" %}
