<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Aquaccess Control
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link type="text/css" href="/css/jquery.keypad.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.30.3/css/keyboard-basic.min.css">
		{% endblock %}
	</head>
	<body>
		{% if id is defined %}
			<span id='idP'>{{ id }}</span>
		{% endif %}
		<span id='locale' class="undisplayed">{{ app.request.locale }}</span>
		<header>
			<div class="container">
				<div class="col">
					<img src="{{ asset('/images/logo-small.png') }}" alt="Aqua Brava">
				</div>
				<div class="col aquaXjump">
					<img src="{{ asset('/images/aquaXjump.png') }}" alt="Aqua Brava">
				</div>
				<div class="col">
					<img src="{{ asset('/images/logo-small.png') }}" alt="Aqua Brava">
				</div>
			</div>
		</header>
	</body>
</html>
